
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    padding: 50px 0;
  }
  i{
    margin: 0px 4px;
  }
  img{
    display: block;
    max-width: 100%;
  }
  header {
    color: white;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
}
  .container {
    margin: 0 auto;
    background-color:rgb(255, 136, 0);
  }

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-logo img{
    display: block;
    width: 100px;
  }
  .navbar > * {
    padding: 10px 60px;
    flex-basis: 20%;
  }
  
  .navbar-menu {
    flex-grow: 0;
  }
  .navbar-menu ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-menu a{
    text-decoration: none;
    color: white;
  }
  .navbar-menu li{
    margin: 5px;
  }
  
  .principale{
    margin: 100px auto;
    max-width: 900px;
    height: auto;
  }
  .row{
    display: flex;
    gap:10px;
  }
  .colum{
    flex-basis: calc(100%/3);
    min-height: 200px;
    border: 1px dashed black;
  }

  