
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    padding-top: 50px;
  }
  i{
    margin: 0px 4px;
    font-size: small;
  }
  s{
    font-size: x-small;
  }
  p{
    padding:0 5px;
    font-size: medium;
  }
  img{
    max-width: 100%;
  }
  span{
    font-size: small;
  }
 
  header {
    color: white;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 2;
}
  .container {
    margin: 0 auto;
    background-color:rgb(255, 136, 0);
  }

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-logo img{
    display: block;
    width: 100px;
  }
  .navbar > * {
    padding: 10px 60px;
    flex-basis: 20%;
  }
  
  .navbar-menu {
    flex-grow: 0;
  }
  .navbar-menu ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-menu a{
    text-decoration: none;
    color: white;
  }
  .navbar-menu li{
    margin: 5px;
  }
  
  .principale{
    margin: 100px auto;
    max-width: 900px;
    height: auto;
  }
  .card{
    position:relative;
    cursor: pointer;
  }
  .row{
    display: flex;
    gap:10px;
  }
  .colum{
    flex-basis: calc(100%/3);
    min-height: 200px;
    margin-bottom: 30px;
  }
  .visibile{
    display: block;
  }
  .scomparsa{
    display: none;
  }
.sconto{
    background-color: red;
}

.label{
    font-size:x-small;
    color: white;
    padding: 3px 8px;
    position: absolute;
    left:0;
    bottom: 90px;
}
.sostenibilità{
    bottom:90px;
    left:42px; 
}
.green-sos{
    background-color: green;
}
.q-favorite{
    background-color: white;
    height: 30px;
    width: 30px;
    font-size: 24px;
    position: absolute;
    top:5px;
    right:0;  
    cursor: pointer;
}
.favorite{ 
    font-size: 20px;
    position: absolute;
    top:1px;
    right:0px;
    width: 100%;
    text-align: center;
}

.q-favorite:hover ::after{
    color:red;
    font-size: 20px;
    position: absolute;
    top:1px;
    right:0px;
    width: 100%;
    text-align: center;
    content: '\2665';
}
.marchio{
    font-size:small;
    color: gray;
}
.p-attuale {
    color: red;
    font-size: x-small;
    font-weight: bold;
}
.card:hover .visibile{
display:none;
}
.card:hover .scomparsa{
    display: block;
}
  footer{
    background-color: black;
    color: white;
    padding: 15px;
  }
.container-footer {
    display:flex;
    margin: 0 auto;
    max-width: 900px;
    background-color:black;
    justify-content: space-between;
  }
  .footer-menu{
    display: flex;
    flex-direction: column;
  }

  .footerbar-actions{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footerbar-loghi{
    display:flex;
    justify-content: center;
  }
  
  .footer-menu ul{
    list-style-type: none;
    display: flex;
    justify-content:flex-start;
  }
  .footer-menu li{
    margin: 5px;
  }
  .footer-menu a{
    text-decoration: none;
    color: white;
    font-size: small;
    display: block;
  }